In [19]:
import pandas as pd 
import numpy as np 
import re 

df1=pd.read_csv('F15_test.txt',sep='\t')
df2=pd.read_csv('Annotation_sentiment_pour_tests_1er_corpus_entier.txt', sep='\t')
df=df2
df.dropna(axis=1, how='all', inplace=True)

df.sort_values('Type', inplace=True)
df.drop_duplicates(subset=['Start','Stop'], keep='first', inplace=True)
df.sort_values('Id', inplace=True)

df['feat']=df.Features
df.Features=df.Features.str.replace('{','', regex=False).str.replace(' ', '', regex=False).str.replace('}','', regex=False)
df['Features']=df['Features'].apply(lambda x: x.split(','))
df.Features=df.Features.apply(lambda x : [v.split('=') for v in x])

def list_par(x,param):
    for y in x:
        if (y[0]==param):
            return y[1]
        else:
            pass
df['String']=df.Features[df['Type']=='Token'].apply(lambda x : list_par(x,'string'))
df['lenght']=df['Stop']-df['Start']

df['Sentiment']=df.Features[df['Type']=='Sentiment'].apply(lambda x : list_par(x,'polarité'))
df['Sent']=0
df['Sent'].loc[df.apply(lambda x: x['Sentiment']=='positif',axis=1)]=1
df['Sent'].loc[df.apply(lambda x: x['Sentiment']=='négatif',axis=1)]=-1

df['Kind']=df.Features[df['Type']=='Token'].apply(lambda x : list_par(x, 'kind'))

df=df[~(df['Kind']=='symbol')]
df[df['Kind']=='symbol']

df['Type'][df['Type']=='Geonames']='Location'
df['Type'][df['Type']=='BDNyme']='Location'

C:\Users\adminetu\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\adminetu\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\adminetu\Anaconda3\lib\site-packages\pandas\core\generic.py:7626: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\adminetu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\adminetu\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
df

,Type,Start,Stop,Id,Features,feat,String,lenght,Sentiment,Sent,Kind
0,Token,0,13,236,"[[kind, word], [length, 13], [orth, upperIniti...","{kind=word, length=13, orth=upperInitial, stri...",Transcription,13,NaN,0,word
1,Token,14,16,238,"[[kind, word], [length, 2], [orth, allCaps], [...","{kind=word, length=2, orth=allCaps, string=FR}",FR,2,NaN,0,word
2,Token,16,18,239,"[[kind, number], [length, 2], [string, 14]]","{kind=number, length=2, string=14}",14,2,NaN,0,number
3,Token,22,23,244,"[[kind, punctuation], [length, 1], [position, ...","{kind=punctuation, length=1, position=startpun...",[,1,NaN,0,punctuation
4,Token,23,24,245,"[[kind, punctuation], [length, 1], [position, ...","{kind=punctuation, length=1, position=startpun...",[,1,NaN,0,punctuation
5,Token,24,27,246,"[[kind, word], [length, 3], [orth, lowercase],...","{kind=word, length=3, orth=lowercase, string=pas}",pas,3,NaN,0,word
6,Token,28,30,248,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=de}",de,2,NaN,0,word
7,Token,31,38,250,"[[kind, word], [length, 7], [orth, lowercase],...","{kind=word, length=7, orth=lowercase, string=d...",découpe,7,NaN,0,word
8,Token,39,40,252,"[[kind, word], [length, 1], [orth, lowercase],...","{kind=word, length=1, orth=lowercase, string=d}",d,1,NaN,0,word
9,Token,41,48,254,"[[kind, word], [length, 7], [orth, lowercase],...","{kind=word, length=7, orth=lowercase, string=e...",extrait,7,NaN,0,word
10,Token,48,49,255,"[[kind, punctuation], [length, 1], [position, ...","{kind=punctuation, length=1, position=endpunct...",],1,NaN,0,punctuation
11,Token,49,50,256,"[[kind, punctuation], [length, 1], [position, ...","{kind=punctuation, length=1, position=endpunct...",],1,NaN,0,punctuation
12,Token,69,74,272,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=a...",alors,5,NaN,0,word
13,Token,82,84,279,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=je}",je,2,NaN,0,word
14,Token,85,89,281,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=f...",fais,4,NaN,0,word
15,Token,90,95,283,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=c...",comme,5,NaN,0,word
16,Token,96,98,285,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=la}",la,2,NaN,0,word
17,Token,99,107,287,"[[kind, word], [length, 8], [orth, lowercase],...","{kind=word, length=8, orth=lowercase, string=d...",dernière,8,NaN,0,word
18,Token,108,112,289,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=f...",fois,4,NaN,0,word
19,Token,119,123,295,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=h...",hein,4,NaN,0,word
20,Token,131,133,302,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=je}",je,2,NaN,0,word
21,Token,134,136,304,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=me}",me,2,NaN,0,word
22,Token,137,145,306,"[[kind, word], [length, 8], [orth, lowercase],...","{kind=word, length=8, orth=lowercase, string=p...",présente,8,NaN,0,word
23,Token,146,148,308,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=et}",et,2,NaN,0,word
24,Token,155,160,314,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=o...",ouais,5,NaN,0,word
25,Token,161,166,316,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=a...",alors,5,NaN,0,word
26,Token,167,174,318,"[[kind, word], [length, 7], [orth, lowercase],...","{kind=word, length=7, orth=lowercase, string=a...",attends,7,NaN,0,word
27,Token,175,179,320,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=h...",hein,4,NaN,0,word
28,Token,209,211,339,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=ch}",ch,2,NaN,0,word
29,Token,211,212,340,"[[kind, punctuation], [length, 1], [string, _]]","{kind=punctuation, length=1, string=_}",_,1,NaN,0,punctuation
...,...,...,...,...,...,...,...,...,...,...,...
6686,Sentiment,46387,46394,32598,"[[polarité, positif]]",{polarité=positif},NaN,7,positif,1,NaN
6695,Sentiment,46468,46476,32599,"[[polarité, négatif]]",{polarité=négatif},NaN,8,négatif,-1,NaN
6699,Sentiment,46503,46511,32600,"[[polarité, négatif]]",{polarité=négatif},NaN,8,négatif,-1,NaN
6705,Sentiment,46542,46553,32601,"[[polarité, négatif]]",{polarité=négatif},NaN,11,négatif,-1,NaN
6731,Sentiment,46733,46751,32603,"[[polarité, positif]]",{polarité=positif},NaN,18,positif,1,NaN
6750,Sentiment,46874,46881,32604,"[[polarité, positif]]",{polarité=positif},NaN,7,positif,1,NaN
6758,Sentiment,46909,46919,32605,"[[polarité, négatif]]",{polarité=négatif},NaN,10,négatif,-1,NaN
6789,Sentiment,47182,47189,32606,"[[polarité, négatif]]",{polarité=négatif},NaN,7,négatif,-1,NaN
6861,Sentiment,47762,47777,32607,"[[polarité, négatif]]",{polarité=négatif},NaN,15,négatif,-1,NaN
6875,Sentiment,47905,47919,32608,"[[polarité, positif]]",{polarité=positif},NaN,14,positif,1,NaN
6938,Sentiment,48396,48406,32609,"[[polarité, négatif]]",{polarité=négatif},NaN,10,négatif,-1,NaN
6945,Sentiment,48446,48456,32610,"[[polarité, négatif]]",{polarité=négatif},NaN,10,négatif,-1,NaN
7031,Sentiment,49095,49105,32611,"[[polarité, positif]]",{polarité=positif},NaN,10,positif,1,NaN
7034,Sentiment,49135,49142,32612,"[[polarité, négatif]]",{polarité=négatif},NaN,7,négatif,-1,NaN
7040,Sentiment,49193,49200,32613,"[[polarité, négatif]]",{polarité=négatif},NaN,7,négatif,-1,NaN
7061,Sentiment,49302,49308,32614,"[[polarité, négatif]]",{polarité=négatif},NaN,6,négatif,-1,NaN
7066,Sentiment,49323,49329,32615,"[[polarité, négatif]]",{polarité=négatif},NaN,6,négatif,-1,NaN
7074,Sentiment,49386,49392,32616,"[[polarité, négatif]]",{polarité=négatif},NaN,6,négatif,-1,NaN
7078,Sentiment,49415,49421,32617,"[[polarité, négatif]]",{polarité=négatif},NaN,6,négatif,-1,NaN
7089,Sentiment,49496,49507,32618,"[[polarité, positif]]",{polarité=positif},NaN,11,positif,1,NaN
7127,Sentiment,49752,49761,32619,"[[polarité, négatif]]",{polarité=négatif},NaN,9,négatif,-1,NaN
7158,Sentiment,49976,49987,32620,"[[polarité, positif]]",{polarité=positif},NaN,11,positif,1,NaN
7179,Sentiment,50127,50138,32621,"[[polarité, négatif]]",{polarité=négatif},NaN,11,négatif,-1,NaN
7183,Sentiment,50162,50176,32622,"[[polarité, négatif]]",{polarité=négatif},NaN,14,négatif,-1,NaN
7203,Sentiment,50305,50311,32623,"[[poalrité, négatif]]",{poalrité=négatif},NaN,6,None,0,NaN
7205,Sentiment,50325,50334,32624,"[[polarité, négatif]]",{polarité=négatif},NaN,9,négatif,-1,NaN
7247,Sentiment,50528,50538,32625,"[[polarité, négatif]]",{polarité=négatif},NaN,10,négatif,-1,NaN
7317,Sentiment,51098,51107,32626,"[[polarité, négatif]]",{polarité=négatif},NaN,9,négatif,-1,NaN
7390,Sentiment,51722,51727,32627,"[[polarité, positif]]",{polarité=positif},NaN,5,positif,1,NaN
7426,Sentiment,52038,52046,32628,"[[polarité, négatif]]",{polarité=négatif},NaN,8,négatif,-1,NaN

In [20]:
df.sort_values('Start')

,Type,Start,Stop,Id,Features,feat,String,lenght,Sentiment,Sent,Kind
0,Token,0,13,236,"[[kind, word], [length, 13], [orth, upperIniti...","{kind=word, length=13, orth=upperInitial, stri...",Transcription,13,NaN,0,word
1,Token,14,16,238,"[[kind, word], [length, 2], [orth, allCaps], [...","{kind=word, length=2, orth=allCaps, string=FR}",FR,2,NaN,0,word
2,Token,16,18,239,"[[kind, number], [length, 2], [string, 14]]","{kind=number, length=2, string=14}",14,2,NaN,0,number
3,Token,22,23,244,"[[kind, punctuation], [length, 1], [position, ...","{kind=punctuation, length=1, position=startpun...",[,1,NaN,0,punctuation
4,Token,23,24,245,"[[kind, punctuation], [length, 1], [position, ...","{kind=punctuation, length=1, position=startpun...",[,1,NaN,0,punctuation
5,Token,24,27,246,"[[kind, word], [length, 3], [orth, lowercase],...","{kind=word, length=3, orth=lowercase, string=pas}",pas,3,NaN,0,word
6,Token,28,30,248,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=de}",de,2,NaN,0,word
7,Token,31,38,250,"[[kind, word], [length, 7], [orth, lowercase],...","{kind=word, length=7, orth=lowercase, string=d...",découpe,7,NaN,0,word
8,Token,39,40,252,"[[kind, word], [length, 1], [orth, lowercase],...","{kind=word, length=1, orth=lowercase, string=d}",d,1,NaN,0,word
9,Token,41,48,254,"[[kind, word], [length, 7], [orth, lowercase],...","{kind=word, length=7, orth=lowercase, string=e...",extrait,7,NaN,0,word
10,Token,48,49,255,"[[kind, punctuation], [length, 1], [position, ...","{kind=punctuation, length=1, position=endpunct...",],1,NaN,0,punctuation
11,Token,49,50,256,"[[kind, punctuation], [length, 1], [position, ...","{kind=punctuation, length=1, position=endpunct...",],1,NaN,0,punctuation
12,Token,69,74,272,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=a...",alors,5,NaN,0,word
13,Token,82,84,279,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=je}",je,2,NaN,0,word
14,Token,85,89,281,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=f...",fais,4,NaN,0,word
15,Token,90,95,283,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=c...",comme,5,NaN,0,word
16,Token,96,98,285,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=la}",la,2,NaN,0,word
17,Token,99,107,287,"[[kind, word], [length, 8], [orth, lowercase],...","{kind=word, length=8, orth=lowercase, string=d...",dernière,8,NaN,0,word
18,Token,108,112,289,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=f...",fois,4,NaN,0,word
19,Token,119,123,295,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=h...",hein,4,NaN,0,word
20,Token,131,133,302,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=je}",je,2,NaN,0,word
21,Token,134,136,304,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=me}",me,2,NaN,0,word
22,Token,137,145,306,"[[kind, word], [length, 8], [orth, lowercase],...","{kind=word, length=8, orth=lowercase, string=p...",présente,8,NaN,0,word
23,Token,146,148,308,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=et}",et,2,NaN,0,word
24,Token,155,160,314,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=o...",ouais,5,NaN,0,word
25,Token,161,166,316,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=a...",alors,5,NaN,0,word
26,Token,167,174,318,"[[kind, word], [length, 7], [orth, lowercase],...","{kind=word, length=7, orth=lowercase, string=a...",attends,7,NaN,0,word
27,Token,175,179,320,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=h...",hein,4,NaN,0,word
28,Token,209,211,339,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=ch}",ch,2,NaN,0,word
29,Token,211,212,340,"[[kind, punctuation], [length, 1], [string, _]]","{kind=punctuation, length=1, string=_}",_,1,NaN,0,punctuation
...,...,...,...,...,...,...,...,...,...,...,...
7498,Token,52477,52482,24802,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=é...",était,5,NaN,0,word
7499,Token,52483,52488,24804,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=r...",rendu,5,NaN,0,word
7500,Token,52489,52495,24806,"[[kind, word], [length, 6], [orth, lowercase],...","{kind=word, length=6, orth=lowercase, string=c...",compte,6,NaN,0,word
7501,Token,52496,52499,25316,"[[kind, word], [length, 3], [orth, artapos], [...","{kind=word, length=3, orth=artapos, string=qu'}",qu',3,NaN,0,word
7502,Token,52499,52501,24810,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=il}",il,2,NaN,0,word
7503,Token,52502,52504,25317,"[[kind, word], [length, 2], [orth, artapos], [...","{kind=word, length=2, orth=artapos, string=n'}",n',2,NaN,0,word
7504,Token,52504,52509,24814,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=é...",était,5,NaN,0,word
7505,Token,52510,52513,24816,"[[kind, word], [length, 3], [orth, lowercase],...","{kind=word, length=3, orth=lowercase, string=pas}",pas,3,NaN,0,word
7506,Token,52514,52524,24818,"[[kind, word], [length, 10], [orth, lowercase]...","{kind=word, length=10, orth=lowercase, string=...",cordonnier,10,NaN,0,word
7507,Token,52539,52543,24828,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=m...",mais,4,NaN,0,word
7508,Token,52551,52552,24835,"[[kind, word], [length, 1], [orth, lowercase],...","{kind=word, length=1, orth=lowercase, string=à}",à,1,NaN,0,word
7509,Token,52553,52555,24837,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=la}",la,2,NaN,0,word
7510,Token,52556,52559,24839,"[[kind, word], [length, 3], [orth, lowercase],...","{kind=word, length=3, orth=lowercase, string=fin}",fin,3,NaN,0,word
7511,Token,52560,52565,24841,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=q...",quand,5,NaN,0,word
7512,Token,52566,52570,24843,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=m...",même,4,NaN,0,word
7513,Token,52571,52573,24845,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=il}",il,2,NaN,0,word
7514,Token,52574,52580,24847,"[[kind, word], [length, 6], [orth, lowercase],...","{kind=word, length=6, orth=lowercase, string=s...",savait,6,NaN,0,word
7515,Token,52581,52586,24849,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=f...",faire,5,NaN,0,word
7516,Token,52587,52590,24851,"[[kind, word], [length, 3], [orth, lowercase],...","{kind=word, length=3, orth=lowercase, string=les}",les,3,NaN,0,word
7517,Token,52591,52601,24853,"[[kind, word], [length, 10], [orth, lowercase]...","{kind=word, length=10, orth=lowercase, string=...",chaussures,10,NaN,0,word
7518,Token,52633,52634,24869,"[[kind, punctuation], [length, 1], [position, ...","{kind=punctuation, length=1, position=startpun...",[,1,NaN,0,punctuation
7519,Token,52634,52638,24870,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=p...",pron,4,NaN,0,word
7521,Token,52639,52641,24872,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=pi}",pi,2,NaN,0,word
7522,Token,52641,52642,24873,"[[kind, punctuation], [length, 1], [position, ...","{kind=punctuation, length=1, position=endpunct...",],1,NaN,0,punctuation
7523,Token,52643,52645,24875,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=au}",au,2,NaN,0,word
7524,Token,52646,52650,24877,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=b...",bout,4,NaN,0,word
7525,Token,52651,52653,24879,"[[kind, word], [length, 2], [orth, lowercase],...","{kind=word, length=2, orth=lowercase, string=du}",du,2,NaN,0,word
7526,Token,52654,52659,24881,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=t...",temps,5,NaN,0,word
7527,Token,52660,52665,24883,"[[kind, word], [length, 5], [orth, lowercase],...","{kind=word, length=5, orth=lowercase, string=q...",quand,5,NaN,0,word
7528,Token,52666,52670,24885,"[[kind, word], [length, 4], [orth, lowercase],...","{kind=word, length=4, orth=lowercase, string=m...",même,4,NaN,0,word